// Specific CSS for your home-page


body {
  background-color: white;
  font-family: 'Andale Mono';
  color: black;

}

.navbar {
  color: black;
  width: 100%;
  display: flex;
  box-shadow: 0 5px 5px #5d686f;
}

.logo {
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.navbar-brand {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar-nav  {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}

#title {
  margin-top: 20%;
  font-size: 40px;
}


.user-devices a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
    color: darkblue;
  }
}
