<div class="navbar" style="background-color: #f4f4f4;">
  <nav class="container">
  <div class="row w-100">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="logo">
          <a class="navbar-brand" href="#" style="color:black;" >Who's the good boy?</a>
        </div>
      </div>
      <div class="col-sm user-devices ">

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item sign-up" href="#">Sign up</a>
            <a class="dropdown-item log-in" href="#">Log in</a>
            <a class="dropdown-item pets" href="/pets">See our pets</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>
