<div class="navbar" style="background-color: #f4f4f4;">
  <nav class="container ">
  <div class="row w-100">
      <div class="col-sm"></div>
      <div class="col-sm">
        <div class="logo">
          <a class="navbar-brand" href="#" style="color:black;" >Who's the good boy?</a>
        </div>
      </div>
      <div class="col-sm user-devices">
        <div class="login-items h-100">
            <a class="sign-up" href="#">sign up</a>
            <a class="log-in pl-3" href="#">log in</a>
        </div>
      </div>
    </div>
  </nav>
</div>
