
<div class="container">
  <div class="row justify-content-center">


      <%= link_to pets_path do %>
        <div class='link-content btn btn-outline-dark'  ><p id="title">Find the cutest pets around you</p></div>
        <% end %></p>
    </div>
  </div>
  <%= image_tag 'home.jpg', class: "home_image" %>
</div>
