<div  class='w-50 form shadow p-3 mb-5 bg-white rounded'>
<h1>Make your offer</h1><br>
  <%= simple_form_for [ @pet, @offer ] do |f| %>
    <%= f.input :starting_date, as: :date, html5: true%>
    <%= f.input :end_date, as: :date, html5: true%>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
