.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

#search-form-control {
  margin-left: 5%;

}
.search-bar {
  height: calc(2em + 1em + 2px);
  align-items: center;

  top: 50%;

  padding: 5px;
}

#idk {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.navbar{
  top:-11px;
  display: flex;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.btn-ghost {
  color: #4A4A4A;

  padding: 8px 4px;

  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.btn-ghost:hover {
  opacity: 1;
}

.btn-menu {
  color: #d14413;
  background-color: none;
  border: 1px solid #d14413;
  font-size: 15px;
  padding: 8px 24px;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-menu:hover {
  opacity: 1;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  padding-left: 15px;
}

.title-nav{
  a{
    font-size: 13px;
  }
}
.search-bar{
  flex-grow: 10;
}
.logo{

  padding: 10px;
}
.sign-up{
  color: #d14413;
  background-color: none;
  //border: 1px solid #d14413;
  font-size: 15px;
  padding: 8px 4px;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}
.sign-up:hover {
  color: #d14413;
  opacity: 1;
}
.log-in{
  color: #d14413;
  background-color: none;
 // border: 1px solid #d14413;
  font-size: 15px;
  padding: 8px 4px;
  margin-top: 5px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.log-in:hover {
  color: #d14413;
  opacity: 1;
}
#dropdownMenuButton{
  font-size: 13px;
  height: 37px;
}
.btn{
  margin-bottom: 5px;
}


.navbar-container{
  display: flex;
  padding: 5px 0px 0px;
  margin-right: 0;
  width: 100%;
}
